<head>
  <title>Meteor CRUD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="doge.png" sizes="16x16">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <h2 class="navbar-brand">Meteor CRUD</h2>

          <div style="float: right;">
            {{>loginButtons align="right"}}
          </div>
      </div>
    </div>
  </nav>

  <div class="container">
    {{> workshops}}
  </div>

  <script type="text/javascript">
  Accounts.ui.config({
    passwordSignupFields: 'USERNAME_AND_OPTIONAL_EMAIL'
  });
  </script>

</body>
