<template name="workshops">
  {{#each allItems}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">
          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#{{id}}">
            <h4>
              <i class="glyphicon glyphicon-minus"> {{title}}</i>
            </h4>
          </a>
        </div>
        <div class="col-md-6">
          <span class="pull-right inner">
            <div id="timedate"></div>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-collapse collapse" id="{{id}}">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <p>{{script}}</p>
          </div>
          <div class="col-md-4">
            <p style="font-weight: bold;">{{place}}</p>
<ul><li>{{notes}}</li></ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{/each}}
  <script type="text/javascript">
  function timeConverter(timestamp){
var timeStamp = 10000; var theDate = new Date(timeStamp * 1000); var dateString = theDate.toGMTString();
  }
    var ntimedate = timeConverter({{datetime}});

    $(document).ready(function()
	{
	$('#timedate').append("<p>"+ ntimedate+ "</p>");
	});

  </script>
  <script type="text/javascript">
    $('.collapse')
      .on('shown.bs.collapse', function () {
        $(this).parent()
          .find(".glyphicon-plus")
          .removeClass("glyphicon-plus")
          .addClass("glyphicon-minus");
      })
      .on('hidden.bs.collapse', function () {
        $(this).parent()
          .find(".glyphicon-minus")
          .removeClass("glyphicon-minus")
          .addClass("glyphicon-plus");
      });
  </script>
</template>
